@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}
body{
    --bg-global-color: #dddedd;
    --bg-container-scope: #f4f5f8;
    --bg-element-scope: white;
    --bg-hover:#d9d9d9;
    --text-color:rgba(0, 0, 0, .54);
    --icon-text-color:white;
    --message-other-color: #d9d9d9;
    --message-self-color:aliceblue;
    --bg-element-conv:#c6c6c6;
}
body.dark{
    --bg-global-color: #7b7b7b;
    --bg-container-scope: #606060;
    --bg-element-scope: #2d3941;
    --text-color:whitesmoke;
    --bg-element-conv:#535353;

}
body {

    height: 100vh;
    background: var(--bg-global-color);
    overflow-y: hidden;


}
