.home-container{
    height: 90vh;
    width: 90vw;
    background: var(--bg-container-scope);
    margin: auto;
    margin-top: 5vh;
    display: flex;
    border-radius: 20px;
}


/* side bar styles */
.sidebar-container{
    flex:.3;
    display: flex;
    flex-direction: column;
}

.sb-header{
    background: var(--bg-element-scope); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    margin: 10px ;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}

.sb-search{
    margin: 10px ;
    background: var(--bg-element-scope); 
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}
.sb-search-input{
    outline: none;
    border: none;
    outline-width: 0;
    font-size: 1.25rem;
    flex: 1;
    background: var(--bg-element-scope);
    color: var(--text-color);

}

.sb-conversations{
    background: var(--bg-element-scope); 
    padding: 10px 5px;
    margin: 10px ;
    border-radius: 20px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}

.sb-conversations::-webkit-scrollbar{
    display: none;
}

/* conversation avatar item styles */

.conversation-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    user-select: none;
    
}
.conversation-container:hover{
    background: #d9d9d9;
    cursor: pointer;
}
.conversation-container:active{
    background: var(--bg-element-scope);
}
.con-icon{
    text-transform: uppercase;
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    height: 42px;
    width: 42px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.con-title{
    grid-area: 1/2/2/4;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: var(--text-color);
}
.con-timeStamp{
    justify-self: flex-end;
    color: var(--text-color);
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75rem;
}
.con-lastMessage{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75rem;
    color: var(--text-color);
}
/* end of conversation avatar item styles */

/* end of side bar styles */

/* chat area styles */
.chatArea-container{
    flex:.7;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}
.ca-header{
    display: flex;
    align-items: center;
    margin: 10px ;
    gap: 10px;
    background: var(--bg-element-scope); 
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}
.ca-header-left{
    display: flex;
    align-items: center;
    
}
.ca-header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.ca-body{
    flex: 1;
    background: var(--bg-element-scope);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}

.ca-body::-webkit-scrollbar{
    display: none;
}

.ca-input-area{
    display: flex;
    justify-content: space-between;
    background: var(--bg-element-scope);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: var(--text-color);
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}

/* message other styles */
.mo-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    user-select: none;
}
.mo-content{
    background: #d9d9d9;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.mo-lastMessage{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.self-timeStamp{
    align-self: flex-end;
    font-size: .6rem;
    font-weight: lighter;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* end of message other styles */

/*message self styles */

.message-self-container{
    display: flex;
    justify-content: flex-end;
}
.messageBox{
    background: aliceblue;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/*end of message self styles */

/* end of chat area styles */

/* welcome styles */

.welcome-container{
    flex:.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    border-bottom: 5px solid #4b0082;
    border-radius: 20px;
}

.welcome-logo{
    height: 20vh;
}

/* end of welcome styles */

/* create groups styles */


.create-group-container{
    flex: .7;
    display: flex;
    flex-direction: column;

}
.cg-header{
    background: var(--bg-element-scope); 
    display: flex;
    align-items: center;
    padding: 5px 10px ;
    margin: 10px ;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;
    color: var(--text-color);
    font-size: 1.5rem;
}

.cg-list{
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
}
.cg-list::-webkit-scrollbar{
    display: none;
}
.cg-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-element-scope);
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;
    border-radius: 20px;
    padding: 10px ;
    margin-bottom: 10px;
    user-select: none;
    transition: all .5s ease-in-out;
}
.cg-list-item:hover{
    background: rgb(226, 226, 226);
    cursor: pointer;
}
.cg-list-item:active{
    background: var(--bg-element-scope);
}
.cg-list-item-text{
    display: flex;
    align-items: center;
}

/* end of create groups styles */

/* online users styles */

.online-users-container{
    flex: .7;
    display: flex;
    flex-direction: column;

}
.online-users-header{
    background: var(--bg-element-scope); 
    display: flex;
    align-items: center;
    padding: 5px 10px ;
    margin: 10px ;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;
    color: var(--text-color);
    font-size: 1.5rem;
}

.ou-list{
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
}
.ou-list::-webkit-scrollbar{
    display: none;
}
.ou-list-item{
    display: flex;
    align-items: center;
    background: var(--bg-element-scope);
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;
    border-radius: 20px;
    padding: 10px ;
    margin-bottom: 10px;
    user-select: none;
    transition: all .5s ease-in-out;
}
.ou-list-item:hover{
    background: rgb(226, 226, 226);
    cursor: pointer;
}
.ou-list-item:active{
    background: var(--bg-element-scope);
}

.ou-title{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: var(--text-color);
    margin-left: 10px;
}
.ou-icon{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    height: 52px;
    width: 52px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
/* end of online users styles */

/* conversations styles */

.con-sb-conversations{
    background: var(--bg-element-scope); 
    padding: 10px 5px;
    margin: 10px ;
    border-radius: 20px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}
.con-sb-search{
    margin: 10px ;
    background: var(--bg-element-scope); 
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px,rgba(0, 0, 0, .3) 0px 3px 7px -3px ;

}

.con-sb-conversations::-webkit-scrollbar{
    display: none;
}

/* end of conversations styles */

/*  responsive  styles */

@media only screen and (max-width: 680px) {
    .sb-conversations,.sb-search{
        display: none;
    }
    .sb-header{
        flex-direction: column;
        flex: 1;
        width: min-content;
    }
    .sb-header-icons{
        display: flex;
        flex-direction: column;
    }
    .createGroups-container,.online-users-container,.welcome-container,.chatArea-container{
        flex: 1;
    }
    .sidebar-container{
        flex: 0;
    }
}
@media only screen and (max-width: 424px) {
    .home-container{
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .createGroups-container,.online-users-container,.welcome-container,.chatArea-container{
        flex: 1;
    }
    .sidebar-container{
        flex: 0;
    }
}
/*  end of responsive  styles */